<nav class="flex flex-row place-content-center">
  <a class="w-1/2 justify-start text-4xl" routerLink="/home" routerLinkActive="activeButtonLink">
    GesTonino
  </a>
  <div class="w-1/2 flex justify-center space-x-4 text-2xl">
    <a routerLink="/about" routerLinkActive="activeButtonLink">
      Chi siamo
    </a>
    <a routerLink="/services" routerLinkActive="activeButtonLink">
      Servizi
    </a>
    <a routerLink="/contacts" routerLinkActive="activeButtonLink">
      Contattaci
    </a>
  </div>
</nav>
