<app-header />

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chi Siamo</title>
</head>
<html>
<body class="bg-gray-100">

<!-- Sezione Hero -->
<section class="relative h-screen bg-cover bg-center" style="background-image: url('/image.png');">
  <div class="absolute inset-0 bg-black/50"></div> <!-- Sovrapposizione scura -->
  <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white">
    <h1 class="text-5xl md:text-6xl font-bold leading-tight">
      Vendiamo sogni, <br> <span class="text-orange-500">Non solide realtà.</span>
    </h1>
  </div>
</section>

<!-- Sezione Storia -->
<section class="py-10 bg-white">
  <div class="container mx-auto px-6 text-center">
    <p class="text-lg md:text-2xl text-gray-800 font-light leading-relaxed max-w-2xl mx-auto">
      Antonio Rodofili e Giovanni Muraca sono due semplici colleghi universitari che hanno trovato un punto in comune:
      l'amore per lo sviluppo di solide applicazioni per i propri clienti. <br>
      Voi ci fornite l'idea, noi la sviluppiamo (forse, se non procrastiniamo troppo).
    </p>
  </div>
</section>

</body>

<app-footer />
</html>



