<!--TODO: Sistemare gli stili e i colori. Nel chill ovviamente -->
<main class="flex flex-col h-screen max-w-full w-full max-h-screen">
  <app-header class="flex-initial"/>
  <div id="homepage" class="h-full flex flex-row bg-backgroundBlue py-1">
    <div id="map" class="w-[49.95%] bg-backgroundBlue rounded-lg m-2 wrapper">
      <div id="mapComponent" class="w-full h-full backgroundMap">
        <app-map />
      </div>
      <div id="formSearch" class="bg-white rounded-md p-2 mt-10 mx-5 border border-black onMapElement">
        <label for="basicSearch">Ricerca Prodotto</label>
        <form id="basicSearch">
          <div class="flex flex-row">
            <input id="searchContent" type="text" placeholder="Chi boi?"/>
            <button type="submit">Ricerca Avanzata</button>
          </div>
          <div class="flex justify-center">
            <button type="submit" class="mt-2">Cerca Prodotto</button>
          </div>
        </form>
      </div>
    </div>
    <div class="w-[0.1%] rounded-lg bg-white ">
    </div>
    <div class="w-[49.95%] bg-white p-3 m-2 rounded-lg flex items-center" >
      <div class="px-20">
        <p class="text-3xl text-center pb-5">Sei già iscritto?<br>Inserisci le tue credenziali per accedere alla tua
          area riservata</p>
        <div class=" px-20">
          <div class="px-8 border border-black rounded-md">
            <form id="loginForm" class="p-2 ">
              <label for="emailForm">Email</label>
              <input id="emailForm" placeholder="example@email.com" type="email"/>
              <label for="passwordForm">Password</label>
              <input id="passwordForm" type="password" placeholder="Password"/>
              <p class="text-center pt-3">
                <button type="submit" class="">Sign in</button>
              </p>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
