<main class="flex flex-col h-screen max-w-full w-full max-h-screen">
  <app-header class="flex-initial"/>
  <div id="homepage" class="h-full flex flex-row bg-cyan-100 py-1">
    <div id="map" class="w-[49.95%] bg-green-400 rounded-lg m-2 wrapper">
      <div id="mapComponent" class="w-full h-full backgroundMap">
        <app-map />
      </div>
      <div id="formSearch" class="bg-gray-200 rounded-lg p-2 mt-10 mx-5 onMapElement">
        <label for="basicSearch">Ricerca Prodotto</label>
        <form id="basicSearch">
          <div class="flex flex-row">
            <input id="searchContent" type="text" placeholder="Chi boi?"/>
            <button type="submit">Ricerca Avanzata</button>
          </div>
          <div class="flex justify-center">
            <button type="submit" class="mt-2">Cerca Prodotto</button>
          </div>
        </form>
      </div>
    </div>
    <div class="w-[0.1%] rounded-lg bg-gray-800 ">
    </div>
    <div class="w-[49.95%] bg-red-200 p-3 m-2 rounded-lg" >
      <div class="">
        <h3 class="loginTitle">Sei già iscritto?<br>Inserisci le tue credenziali per accedere alla tua area riservata</h3>
        <form id="loginForm" class="flex flex-col p-2">
          <label for="emailForm">Email</label>
          <input id="emailForm" placeholder="example@email.com" type="email"/>
          <label for="passwordForm">Password</label>
          <input id="passwordForm" type="password" placeholder="Password"/>
          <button type="submit">Sign in</button>

        </form>
      </div>
    </div>
  </div>
</main>
