<div class="min-h-screen bg-gray-100 flex flex-col justify-center items-center">
  <h1 class="text-6xl font-bold text-blue-500">404</h1>
  <p class="text-xl text-gray-700 mt-4">Oops! La pagina che stai cercando non esiste.</p>
  <p class="text-gray-500 mt-2">Potresti aver digitato male l'URL o la pagina potrebbe essere stata spostata.</p>

  <div class="mt-6">
    <a routerLink="/" class="px-6 py-3 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600">
      Torna alla Home
    </a>
  </div>

  <div class="mt-10">
    <img src="/undraw_page-not-found.svg" alt="Page Not Found" class="w-64">
  </div>
</div>
