<router-outlet></router-outlet>
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
</head>

<body>

<div class="bg-gray-500 flex h-screen">
  <!-- Sidebar -->
  <aside id="sidebar-multi-level-sidebar" class="w-64 h-full bg-gray-800 text-white" aria-label="Sidebar">
    <app-sidebar />
  </aside>

  <!-- Contenuto principale -->
  <div class="flex-1 flex flex-col text-lg bg-white shadow-lg">
    <!-- Elemento sopra la dashboard -->
    <!-- Dashboard -->
    <div class="flex-1 overflow-y-auto">
      <ng-container [ngSwitch]="activeComponent">
        <app-dashboard *ngSwitchCase="'dashboard'"/>
        <app-inventory *ngSwitchCase="'inventario'"/>
      </ng-container>
    </div>
  </div>
</div>



</body>

</html>
