<div class="w-[49.95%] bg-white p-3 m-2 rounded-lg flex items-center" >
  <div class="px-20">
    <p class="text-3xl text-center pb-5">Sei già iscritto?<br>Inserisci le tue credenziali per accedere alla tua
      area riservata</p>
    <div class=" px-20">
      <div class="px-8 border border-black rounded-md">
        <form id="loginForm" class="p-2 ">
          <label for="emailForm">Email</label>
          <input id="emailForm" placeholder="example@email.com" type="email"/>
          <label for="passwordForm">Password</label>
          <input id="passwordForm" type="password" placeholder="Password"/>
          <p class="text-center pt-3">
            <button type="submit" class="">Sign in</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
